# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.venv/
venv/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# K8s / Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Docker
.docker/
docker-compose.override.yml
